/* styles.css */

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;  
}

/* Style the navigation bar */
.navbar {
    background-color: #333; /* Background color for the navbar */
    overflow: hidden;
    height: 60px; /* Increase the height of the navigation bar */
    line-height: 60px; /* Center the text vertically within the navbar */
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    margin-right: 20px; /* Add space between the navigation items */
}

.navbar a {
    color: white; /* Text color for the navigation links */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px; /* Add left margin to the links for spacing */

}

.navbar a:hover {
    color: #55a7ff; /* Text color for the navigation links on hover */
}
